In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,-0.6000,73.0833,80.78,75,95,5.39
1,1,Cape Town,ZA,-33.9258,18.4232,63.27,74,0,1.99
2,2,Punta Arenas,CL,-53.1500,-70.9167,44.71,61,20,25.32
3,3,Aktau,KZ,43.6500,51.2000,90.18,44,6,13.09
4,4,Shingu,JP,33.7333,135.9833,79.92,83,96,7.11

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of Max Temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
# fig

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
# fig

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
# fig

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
# fig

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(4)

         City Country  Max Temp      Lat       Lng Hotel Name
0   Hithadhoo      MV     80.78  -0.6000   73.0833
4      Shingu      JP     79.92  33.7333  135.9833
5  Coahuayana      MX     87.28  18.7333 -103.6833
6  Georgetown      MY     84.13   5.4112  100.3354

In [14]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [15]:
# Iterrows() treats a data frame like a list of dictionaries and 
# returns each row as a tuple consistent of index, row (as Pandas Series)

# Allows you to append a list of dictionaries, where each dict 
# is a row in the dataframe 

# Turn the hotel_df -->> list of dictionaries

In [47]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']

    # Replace the keys to the params dict during each loop
    params['location'] = f"{lat},{lng}"
    
    # Use base URL
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    print('API complete')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hithadhoo,MV,80.78,-0.6000,73.0833,Scoop Guest House
4,Shingu,JP,79.92,33.7333,135.9833,Shingu UI Hotel
5,Coahuayana,MX,87.28,18.7333,-103.6833,El rranchito michuacan de ocampos
6,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
7,Atuona,PF,77.27,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
547,Nishihara,JP,82.06,26.1842,127.7558,Minshuku Agaihama
548,Oistins,BB,86.09,13.0667,-59.5333,Butterfly Beach Hotel
551,Sarakhs,IR,89.74,36.5449,61.1577,مهمان سرای شرکت گاز
553,Aleksandrov Gay,RU,84.51,50.1470,48.5704,Gostinitsa I.p. Yes'kov A.v
557,Porecatu,BR,77.47,-22.7558,-51.3792,Hotel Central

In [54]:
# Heatmap of Max Temperature
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]

# Create the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F </dd>

</dl>
"""

hotel_info = [info_box_template.format(**row) for index,row in hotel_df.iterrows()]

# Create the heatmap layer
heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
fig.add_layer(marker_layer)



# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))